@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Red Rose', cursive;
}

:root{
  --purple: #A02279;
  --black: #434343;
  --border-color: #CFD8DC;
  --hero-btn: #A3A3A3;
  --input: rgba(247, 247, 247, 0.1);
  --cards: #D7D7D7;
 }

 .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
 }

 .header > img{
  width: 40%;
 }

 .header > .links{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
 }

 .header > .links a{
 font-weight: 400;
 font-size: 1.2rem;
 color: var(--black);
 line-height: 1.4rem;
 }

 .header > .btn{
  width: 50%;
 }

 .header > .btn button{
  width: 100%;
  background-color: var(--purple);
  color: #fff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1rem;
  padding: .8rem;
  border: none;
  cursor: pointer;
 }

 .hero{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
 }

 .hero-text{
  margin-bottom: 2.5rem;
 }

 .hero-text > h1{
  font-weight: 700;
  color: var(--black);
  margin-bottom: 1rem;
  line-height: 2.3rem;
 }

 .hero-text > h1 span{
  color: var(--purple);
 }

 .hero-text > p{
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--black);
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
 }

 .input-btn > input{
  width: 60%;
  outline: none;
  font-size: 1rem;
  border: 1px solid var(--hero-btn);
  padding: .7rem;
  border-radius: 8px;
  background-color: var(--input);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
 }

 .input-btn > button{
  width: 40%;
  border: none;
  font-size: 1.1rem;
  padding: .7rem;
  border-radius: 8px;
  color: #fff;
  background-color: var(--purple);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
 }

 .hero-img > img{
  width: 100%;
 }

 .wallets{
  height: 70px;
  width: 100%;
  background-color: var(--purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;

 }

 .wallet-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F7F7F7;
 }

 .wallet-links img{
  width: 25px;
  height: 25px;
 }

 .wallet-links a{
  color: #F7F7F7;
  font-weight: 700;
 }

 .wallet-img{
  margin-right: .3rem;
 }

 .cards-wrapper{
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
 }

 .cards-wrapper > h1{
  margin-bottom: 2rem;
  font-size: 1.6rem;
 }

 .cards{
  width: 315px;
  height: 395px;
  padding: 1rem;
  border: 1px solid var(--cards);
  border-radius: 15px;
  margin: 1.3rem auto;
 }

 .cards img{
  width: 100%;
  height: 265px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: .8rem;
 }

 .card-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .8rem;
  color: var(--black);
  font-size: .8rem;
 }

 .size{
  font-weight: 700;
 }

 .rating{
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
 }

 .rating > img{
  width: 10px;
  height: 10px;
 }

 .cta{
  background-color: var(--purple);
  padding: 4rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #fff;
 }

 .cta-text{
  margin-bottom: 2rem;
 }

 .cta-text > h1{
  margin-bottom: 1.6rem;
  font-size: 1.5rem;
 }

 .cta-text > p{
  margin-bottom: 1.6rem;
  font-size: .9rem;
  line-height: 1.5rem;
 }

 .cta-text > button{
  width: 35%;
  border: none;
  padding: .7rem;
  background-color: #fff;
  color: var(--purple);
  border-radius: 8px;
  cursor: pointer;
 }

 .cta-img > img{
  width: 100%;
 }

 .footer{
  background: #000;
  color: #fff;
  padding: 1.5rem;
 }

 .footer-logo{
  margin-bottom: 3rem;
 }

 .footer-logo > img{
  margin-bottom: 2rem;
 }

 .social-icons{
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
 }

 .social-links > p{
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 3rem;
 }

 .social-links > a{
  font-size: .8rem;
  color: #F1F3F9;
  display: block;
  line-height: 2.5rem;
 }

 .group,
 .location{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
 }

 /* PLACES PAGE */

 .location{
  padding: 1rem;
 }

 .location-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  display: none;
 }

 .location-links > a{
  color: #333;
 }

 .location-btn {
  width: 40%;
  position: relative;
  margin-left: auto;
  
 }

 .location-btn > button{
  width: 100%;
  border: 1px solid #B4B4B4;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  color: #333;
  background-color: #fff;
  cursor: pointer;
 }

 .location-btn > img{
  position: absolute;
  right: 20px;
  bottom: 12px;
 }

 /* MODAL */


 .wallet-modal{
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
  z-index: 5;
  margin: 0 auto;
 }
 
 .modal{
  width: 300px;
  height: 320px;
  border-radius: 16px;
  background-color: #fff;
  position: absolute;
  overflow: hidden;
 }

 .overlay{
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.overlay{
  background: rgba(49,49,49,0.8);
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 1.5rem;
}

.modal-header > h3{
  color: #333;
  font-size: 1.1rem;
  font-weight: 700;
}

.wallet-btn{
  padding: 1.5rem;
}

.wallet-btn p{
  font-size: 1rem;
  padding-bottom: .8rem;
}

.modal-btn{
  border: 1px solid var(--border-color);
  width: 100%;
  padding: .7rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: .8rem;
  border-radius: 8px;
}

.modal-btn:hover{
  background-color: #F8F9FA;
}

.modal-btn > a{
  margin-left: .7rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.open{
  margin-left: auto;
}

 /* MEDIA QUERIES */

 @media screen and (min-width:768px){

  .header{
    padding: 2rem;
  }

  .header > img{
    width: 18%;
  }
  .header > .links{
    display: flex;
  }

  .header > .btn{
    width: 150px;
  }

  .hero{
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;
  }
  .hero-text,
  .hero-img,
  .cta-text,
  .cta-img{
    width: 45%;
    text-align: left;
  }

  .wallet-links img{
    width: 35px;
    height: 35px;
  }

  .hero-text > h1,
  .cards-wrapper > h1,
  .cta-text > h1,
  .wallet-links{
    font-size: 2.1rem;
    line-height: 2.8rem;
  }

  .hero-text,
  .cta-text{
    max-width: 450px;
  }

  .wallets{
    justify-content: space-around;
  }

  .cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2.5rem;
  }

  .cards{
    height: 400px;
  }

  .cta{
    flex-direction: row;
    padding: 4rem;
    justify-content: space-around;
  }

  .cta-text > button{
    width: 35%;
  }

  .footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
  }

  .footer-logo{
    margin-bottom: 0;
  }

  .footer-logo > img{
    margin-bottom: 4.5rem;
  }

  .group{
    width: 50%;
    margin-bottom: 0;
  }

  .location{
    max-width: 1400px;
    margin: auto;
  }

  .location-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }

  .location-btn{
    width: 150px;
  }

  .wallet-modal,
  .modal{
    width: 600px;
  }
 }

 @media screen and (min-width:1280px) {
  .header > .links{
    width: 40%;
  }

  .cards{
    width: 298px;
  }

  .cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: .2rem;
  }
  
 }





